doctype html
html(lang=settings.lang)
  head
    title= meta.title + " | " + meta.titlesuffix
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(content=meta.description, name="description")
    meta(content=meta.titlesuffix, name="application-name")
    meta(content="#072434", name="msapplication-TileColor")
    meta(content="/img/logo-70x70.png", name="msapplication-square70x70logo")
    meta(content="/img/logo-150x150.png" name="msapplication-square150x150logo")
    meta(content="GhbeYQk917osZVX5lGXYSq4ACIiJw2Pk1NLBfRe4OfI", name="google-site-verification")
    link(type="image/png", href="/img/favicon.png", rel="shortcut icon")
    link(type="image/png", href="/apple-touch-icon.png", rel="apple-touch-icon")
    link(type="text/css", rel="stylesheet", href="http://fonts.googleapis.com/css?family=Inder|Lora&subset=latin-ext,latin")
    link(href="http://creativecommons.org/licenses/by-sa/3.0/", rel="license")
    link(href="http://paazmaya.com", rel="author")
    link(href="/img/mobile-logo.png", rel="apple-touch-icon")
    link(media="all", type="text/css", href="/css/naginata.min.css", rel="stylesheet")
    - each image in prefetch
      link(rel="prefetch", href=image)
    - if (meta.facebook)
      - each fb in meta.facebook
        meta(property=fb.property, content=fb.content)
    - each flip in flipahead
        link(rel=flip.rel, href=flip.url)
  body
    div#logo.centered
      ul#languages
        - each language, key in languages
          - if (key !== settings.lang)
            li
              a(title=language.name, href=(language.url ? language.url : "/" + key))
                = language.name
      p(role="banner")
        = meta.titlesuffix
    nav.full-width
      ul.centered(role="navigation")
        - each page in pages
          li(class=page.url == meta.url ? "current" : "")
            a(rel=page.rel, title=page.header, href=page.url)
              = page.title
    div.centered
      header(role="contentinfo")
        h1
          = meta.header
        p.desc-transform
          = meta.description
      article(class=meta.title.toLowerCase(), role="main")
        != content
    footer.full-width
      p.centered
        - each footer in footers
          a(title=footer.alt, href=footer.url)
            != footer.text
    script(src="/js/naginata.min.js")
