doctype 5
html(lang=settings.lang)
  head
    title= meta.title + " | " + meta.titlesuffix
    meta(charset="utf-8")
    meta(content=meta.description, name="description")
    meta(content="requiresActiveX=true", http-equiv="X-UA-Compatible")
    link(type="image/png", href="/img/favicon.png", rel="shortcut icon")
    link(type="image/png", href="/apple-touch-icon.png", rel="apple-touch-icon")
    link(type="text/css", rel="stylesheet", href="http://fonts.googleapis.com/css?family=Inder|Lora&subset=latin-ext,latin")
    link(href="http://creativecommons.org/licenses/by-sa/3.0/", rel="license")
    link(href="http://paazmaya.com", rel="author")
    link(href="/img/mobile-logo.png", rel="apple-touch-icon")
    link(media="all", type="text/css", href="/css/naginata.min.css", rel="stylesheet")
  body
    nav
      ul
        - each page in pages
          li(class=page.url == meta.url ? "current" : "")
            a(rel="prefetch", title=page.header, href=page.url)
              = page.title
    div#wrapper
      ul#languages
        - each language, key in languages
          - if (key !== settings.lang)
            li
              a(title=language.name, href="/" + key)
                = language.name
      div#logo
        p
          = meta.titlesuffix
      header
        h1
          = meta.header
        p.desc-transform
          = meta.description
      article(class=meta.title.toLowerCase())
        != content
    footer
      p
        - each footer in footers
          a(title=footer.alt, href=footer.url)
            != footer.text

    script(src="/js/naginata.min.js")
